<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l5 s12">
        <h5 class="white-text">Quiénes somos</h5>
        <p class="grey-text text-lighten-4 info-who">
          Proyecto de Ingeniería Informática para 
          3ᵉʳ año, 
          <abbr title="Usabilidad y Accesibilidad">UyA</abbr>, 
          <dfn title="Universidad de La Laguna">ULL</dfn> 
          <acronym title="Escuela Técnica Superior de Ingeniería y Tecnología">(ETSII)</acronym>.
        </p>
        <li class="divider itfoo2"></li>
        <ul>
            <li><a class="grey-text text-lighten-3 author">Diego Vázquez Campos</a></li>
            <li><a class="grey-text text-lighten-3 author">Michael Brian Santana Mon</a></li>
            <li><a class="grey-text text-lighten-3 author">Gerardo de Delás Cuesta</a></li>
        </ul>
      </div>
      
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text">Conecta</h5>
        <ul>
            <li><a href="https://twitter.com/_Inkoffee" target="_blank"><i title="Twitter" class="fab fa-twitter itfoo"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i title="Facebook" class="fab fa-facebook-f itfoo"></i></a></li>
            <li><a href="https://www.instagram.com/inkcoffeeclub/" target="_blank"><i title="Instagram" class="fab fa-instagram itfoo"></i></a></li>
        </ul>
      </div>
      
      <div class="col l2 offset-l1 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
          <li><a class="grey-text text-lighten-3" href="/Contacta">Contáctanos</a></li>
          <li><a class="grey-text text-lighten-3" href="/easteregg" target="_blank">Egg</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 - 2019 <i>Mentioned authors</i> All Rights reserved
    <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    </div>
  </div>
</footer>
            