<!-- JAVASCRIPT -->
 <!-- Materialize -->
    <script src="https://code.jquery.com/jquery-1.12.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom -->
    <script src="./js/materialize.plus.js"></script>
    <script src="./js/add_book.js"></script>
    <script src="./js/register_user.js"></script>
    <script src="./js/login_user.js"></script>
    <script src="./js/on_log.js"></script>
    <script src="./js/aria_status.js"></script>
    


