/* Netbook, Desktops, Television, ... */



@media screen and (max-width: 1930px)
{

/* GENERALES */
body{
    padding: 11%!important;
    padding-top: 10px!important;
}

td{
    background: #fff;
}

th{
    background: #7639;
    color: #fff;
    text-align: center;
}

input{
    background: #fff!important;
    padding: 10px!important;
}

form{
    padding: 0px 300px;
}

.label-warning,
.label-success{
    color: #fff;
    background: #6bc4b8;
    display: block;
    padding: 10px;
    width: 104.5%;;
}

.formu 
{
    padding: 0px 300px;
}

img 
{
    width: 100%;
}

}